<!-- footer -->

<footer class="row d-flex justify-content-between footer">
    <div class="col-3">
      <h4>Contact</h4>

      <p> Phone: 302-932-2581 </p>
      <p> Email: ibrahim.salir@gmail.com </p>
    </div>
    <div class="col-4 mx-auto">
      <h4>About</h4>
      <p>
        Click on the docs link to learn more about the project and how to use it.
      </p>
    </div>
    <div class="col-3 text-end">
      <h4>&copy; 2024 Ibrahim Salir</h4>
      <p>All rights reserved.</p>
    </div>

  </footer>
