<!-- login page -->

{% extends 'main/index.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col d-flex flex-column align-items-center">
            <h2>Login</h2>
            <form method="POST" class="d-flex flex-column">
                <div class="d-flex flex-column align-items-end justify-content-around">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary align-self-stretch">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
