<!-- logout page -->

{% extends 'main/index.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col d-flex flex-column align-items-center">
            <h2>Logout</h2>
            <form method="POST" class="d-flex flex-column">
                <div class="d-flex flex-column align-items-end justify-content-around">
                    {% csrf_token %}
                    <p>Are you sure you want to logout?</p>
                </div>
                <button type="submit" class="btn btn-danger align-self-stretch">Logout</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

