:root{
    --color_primary: #687864;
    --color_secondary:#31708E;
    --color_tertiary: #5085A5;
    --color_quaternary: #8FC1E3;
    --color_quinary:#efefef;
    --footer_text_color: #efefef;
    --body_text_color:#1d1d1d;
    /* --color_primary: #34463E;
    --color_secondary: #204c59;
    --color_tertiary: #2C4B59;
    --color_quaternary: #4B6C8A;
    --color_quinary: #2a2929;
    --footer_text_color: #efefef;
    --body_text_color: #b5b2b2; */


}

html, body {
    min-height: calc(100dvh);
    margin: 0;
    background-color:var(--color_quinary);

    color:var(--body_text_color);

}



body {
    display: flex;
    flex-direction: column;
    background-color: var(--color_quinary);
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color_primary);
    color: white;
    padding: 1rem;
}
nav a {
    color: var(--color_quarternary);
    text-decoration: none;
}
.nav-link{
    color: var(--color_quarternary);
    text-decoration: none;
}

#collapsibleNavId > ul > li > a {
    color:var(--color_quarternary);
}


#authTray>a{
    margin-left:1rem;
    color:var(--color_quarternary);
    text-decoration: none;
    border: var(--color_quaternary) solid 1px;

}

#content {
    flex: 1;  /* This line will make the content area grow to fill the space */

}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: top;
    background-color: var(--color_secondary);
    color:var(--footer_text_color);
    width:100%;
    height: auto;
    padding: .5rem .5rem .5rem .5rem;
    /* margin-top: 2rem; */
}

.toggle.ios,
.toggle-on.ios,
.toggle-off.ios {
  border-radius: 20rem;
}
 .toggle.ios .toggle-handle {
  border-radius: 20rem;
}
