{% extends 'main/index.html' %} {% block content %} {% load static %}
<head>
    <script src="{% static 'sudoku/js/sudoku.js' %}"></script>
    <link rel="stylesheet" href="{% static 'sudoku/css/sudoku.css' %}" />
</head>
 
<div class="container">
    <div class="row">
        <div class="col">
            <div class="sudoku-title text-center">
                <h1>Sudoku</h1>
            </div>
            <div class="row">
                <div class="col">
                    <div class="playarea d-flex justify-content-evenly">
                        <div class="toolbelt d-flex flex-column">
                            <button class="btn btn-light" id="valuelock" ><i class="fa-solid fa-lock"></i> Lock Cells</button>
                            <br>
                            <button class="btn btn-light" id="valueunlock" ><i class="fa-solid fa-unlock"></i> Unlock Cells</button>
                            <br>
                            <button class="btn btn-light" id="changecolor" ><i class="fa-solid fa-palette"></i> Change Color</button>
                        </div>
                        <div class="sudoku-board" id="sudokuBoard"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
</div>



{% endblock %}
