{% extends "forecast/index.html" %}
{%load static%}
{% load tag_extras %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="d-flex">
            <h3 class="m-e-auto">{{address}}</h3>
            <div class="d-flex ms-auto">
                <form action="">
                    <button class="weatherNavButtons"><a href="{%url 'forecast:index' %}"  style="text-decoration: none;"> Back</a> </button>
                </form>
                {% if user.is_authenticated %}
                    {% if address in user_locations %}
                        {% with location_id=location_ids|get:address %}
                        <form hx-get="{% url 'forecast:deleteLocationWeatherView' %}" id="removeLocation">
                            {% csrf_token %}
                            <input type="hidden" name="location_id" value="{{ location_id }}">
                            <button type="submit" class="weatherNavButtons">Remove </button>
                        </form>
                    {% endwith %}
                    {% else %}                  
                    <form hx-get="{% url 'forecast:addLocation' %}" id="addLocation" class="ms-1">
                        {% csrf_token %}
                        <input type="hidden" name="address" value="{{address}}">
                        <input type="hidden" name="lat" value="{{geodata.lat}}">
                        <input type="hidden" name="lon" value="{{geodata.lon}}">
                        <button type="submit" class="weatherNavButtons"> Save Location </button>
                    </form>
                {% endif %}
                {% endif %}
                </div>
            </div>
            <div class="d-flex justify-content-between">

                <form action="{% url 'forecast:weather' %}">
                    <input type="text" id="address" name="address" placeholder="Search another location...">
                    <input type="submit" value="Search">
                </form>
                
                {% if user.is_authenticated %}
                <form type="" class="nav-item dropdown d-flex">
                        <h4>My Locations: </h4>
                        {% if user_locations %}
                        <button class="dropdown-toggle" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Saved Locations
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            {% for address in user_locations %}
                            <a class="dropdown-item" href="{% url 'forecast:weather' %}?address={{ address|urlencode }}">
                                {{ nicknames|get:address }}
                            </a>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div>
                            <h4 class="text-secondary">No locations saved.</h4>
                        </div>
                        {% endif %}
                </form>
                {% endif %}
            </div>
            {% for day in weather %}
            <div class="card mb-1">
                <div class="card-header">
                    <h5>{{day.date | date:"M-d-Y"}}</h5>
                </div>
                <div class="card-body">
                    <div class="row" >
                        <div class="col">
                            {% with day.date|date:"Y-m-d" as formatted_date %}
                                {% with supplement|get:formatted_date as daily_details %}
                                    {% if daily_details %}
                                        {% for detail in daily_details %}
                                            {% if detail.isDaytime %}
                                                <p><strong>Daytime:</strong> {{ detail.detailedForecast }}</p>
                                            {% else %}
                                                <p><strong>Nighttime:</strong> {{ detail.detailedForecast }}</p>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <p>No detailed forecast available for this date or location. Detailed forecasts are only avaliable for locations within the United States.</p>
                                    {% endif %}
                                {% endwith %}
                            {% endwith %}
                        </div>
                        
                        <div class="col">
                            <p>Max Temp: {{ day.temperature_2m_max|floatformat:"0" }}°F</p>
                            <p>Min Temp: {{ day.temperature_2m_min|floatformat:"0" }}°F</p>
                            <p>Max Feels Like: {{ day.apparent_temperature_max|floatformat:"0" }}°F</p>
                            <p>Min Feels Like: {{ day.apparent_temperature_min|floatformat:"0" }}°F</p>
                            <p>Precipitation Sum: {{ day.precipitation_sum|floatformat:"0" }} inches</p>
                            <p>Precipitation Hours: {{ day.precipitation_hours|floatformat:"0" }}</p>
                            <p>Precipitation Probability Max: {{ day.precipitation_probability_max|floatformat:"0" }}%</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<p>{{nicknames}}</p>
{% endblock %}