{% extends 'todo/todo.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content2 %}
<!-- adding a new todo -->
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Add a new todo</h3>
            <form role="form" method="post" action="" class="text-dark">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons submit='Add' reset='Reset'%}
                {% endbuttons %}
            
                <a href="../" type="button" class="btn btn-danger">Cancel</a>
            </form>
        </div>
    </div>
</div>



{% endblock content2 %}
