{% extends 'todo/todo.html' %}

{% block content2 %}
<!-- adding a new todo -->

<h3>Add a new todo</h3>
<div class="row">
    <div class="col">
        
        <form action="{% url 'addTodo' %}" method="post">
            {% csrf_token %}
            <label for="title">Title:</label>
            <input type="text" name="title" id="todoTitle">
            <label for="date">Date:</label>
            <input type="date" name="date" id="todoDate">
            <label for="details">Details:</label>
            <input type="text" name="details" id="todoDetails">
            <input type="submit" value="Add">
        </form>
    </div>
</div>

{% endblock content2 %}
