{% load static %}{% block content2 %}
<link rel="stylesheet" href="{% static 'sudoku/css/sudoku.css' %}" />
<div class="d-flex align-center justify-content-evenly mt-4">

    <div class="toolbelt d-flex flex-column">
        <button class="btn btn-light" style="margin-top:1rem;" id="valuelock" ><i class="fa-solid fa-lock"></i> Lock Cells</button>
        <br>
        <button class="btn btn-light" id="valueunlock" ><i class="fa-solid fa-unlock"></i> Unlock Cells</button>
        <br>
        <button class="btn btn-success border-dark" style="margin-top:auto; margin-bottom: 0; color:black;" id="submit" ><i class="fa-solid fa-check"></i> Submit!</button>
    </div>
    {{ puzzle_board|json_script:"puzzleBoardData" }}
    <div class="sudoku-board" id="sudokuBoard"></div>
</div>
<div>
    <input
        name=""
        id=""
        class="btn btn-primary"
        type="button"
        value="Button"
    />
    
</div>
            
{% endblock content2 %}
            
