{% extends "main/index.html" %}
{%load static%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col d-flex flex-column">
            <h2 class="text-center">Weather Forecast</h2>
            <form action="{% url 'forecast:weather' %}" class="m-auto">
                <div class="searchBar">
                    <input type="text" id="location" name="location" placeholder="Enter Address">
                    <input type="submit" value="Search">
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% block content2 %}{% endblock %}
        </div>
    </div>
</div>

{% endblock %}