{% extends "main/index.html" %}
{% load static %}
{% load tag_extras %}

{% block title %}Weather Forecast{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'forecast/css/forecast.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col d-flex flex-column">
            <h2 class="text-center">Weather Forecast</h2>
            <form action="{% url 'forecast:weather' %}" class="m-auto">
                <div class="searchBar">
                    <input type="text" id="address" name="address" placeholder="Enter Address">
                    <input type="submit" value="Search">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% block content2 %}
            {% if user.is_authenticated %}
            <h4>My Locations</h4>
            {% if locations %}
            {% for location in locations %}
            <div class="card mb-1">
                <div class="card-header d-flex justify-content-between">
                    <div class="d-flex align-items-center">

                        <h5 id="titlespot{{location.nickname|remove_spaces_commas}}">{{location.nickname}} 
                            <button id="editbutton" type="button" class="btn btn-outline" hx-get="{% url 'forecast:changeNick' %}?location_id={{location.id}}" hx-target="#titlespot{{location.nickname|remove_spaces_commas}}" hx-swap="outerHTML transition:true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                                </svg>
                            </button>
                            <small><em>nickname</em></small>
                        </h5>
                        
                    </div>
                    <div>
                        <button class="weatherNavButtons">
                            <a href="{% url 'forecast:weather' %}?address={{location.address|urlencode}}">View Weather</a>
                        </button>
                        <button class="weatherNavButtons">
                            <a href="{% url 'forecast:deleteLocation' %}?location_id={{location.id}}">Delete Location</a>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <p>Latitude: {{location.lat}}</p>
                            <p>Longitude: {{location.lon}}</p>
                        </div>
                        <div class="col">
                            <p>Address: {{location.address}}</p>
                            <p>Added: {{location.created_at}}</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="card">
                <div class="card-body">
                    <p>No locations saved.</p>
                </div>
            </div>
            {% endif %}
            {% endif %}
            {% endblock %}

        </div>
    </div>
</div>
<script src="{% static 'forecast/js/forecast.js' %}" defer></script>

{% endblock %}