<!-- footer -->
<style>
  p {
    font-size: 1rem;
    line-height: 1.5;
  }
</style>
<div class="container-lg-fluid d-flex mt-2 footer" style="width: 100%;">

    <div class="footer-section col-3" style="margin-left:2rem;">
      <h4>Contact</h4>

      <span> Phone: 302-932-2581 </span>
      <br />
      <span> Email: ibrahim.salir@gmail.com </span>
    </div>
    <div class="footer-section col-4 mx-auto">
      <h4>About</h4>
      <p>
        This is a brief description of the website or company. You can include
        any relevant information that you think would be useful for your
        visitors.
      </p>
    </div>
    <div class="footer-section col-3 text-end" style="margin-right: 2rem;">
      <h4>&copy; 2024 Ibrahim Salir</h4>
      <p>All rights reserved.</p>
    </div>

</div>
