{% extends "main/index.html" %} {% load static %} {% block content %}
<div class="container">
  <div class="col">
    <div class="row">
      <h1>Welcome to my personal website</h1>
      <p>
        This is a personal website that I created to showcase my projects and
        skills.
      </p>
      <p>
        I am a full-stack web developer with a background in data science. I
        have experience with Python, Django, JavaScript, React, HTML, CSS, SQL,
        and more.
      </p>
      <p>I am currently looking for a full-time position as a web developer.</p>
    </div>
  </div>
</div>

{% endblock content %}
