.weatherCard{
    width: 13%;
    border: 2px solid black;
    border-radius: 10px;
    transition-duration: .25s;
    background-color: var(--color_secondary);
    color: var(--body_text_color);
}
.weatherCard:hover{
    background-color: var(--color_quaternary);
    cursor:pointer;
    color:var(--color_quinary);

}

.weatherCardRow{
    /* background-color: black; */
    justify-content: space-between;
}
.detailedCard{
    background-color: var(--color_secondary);
    color: var(--color_quinary);
    border: 2px solid black;
    display: none;
    transition-duration: .25s;
}
.dc-show{
    display: block;
    transition-duration: .25s;
}

.radioGroup{
    margin:auto;
    width: 35vw;
    display:flex;
    justify-content: space-around;
}

.searchBar{
    margin:auto;
    width: 45vw;
    display:block;
}

#searchZip{
    width: 20vw;
}

#searchAddress{
    width: 20vw;
}